<forn>
    <button style="width: 150px; margin-top:10px;">Program Study</button>  
        <input style="width: 300px; height:30px;">
    <button>Nama instansi</button> 
        <button style="width: 280px; height:30px;">.</button> <br>   
    <button style="width: 150px; margin-top:5px" >Alamat</button> 
        <button style="width: 300px; height:30px;">.</button> 
    <button>No.Telp/Email</button> 
        <button style="width: 280px; height:30px;">.</button> <br> 
    <button style="width: 150px; margin-top:5px">No. Agenda</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Isi</button> 
        <button style="width: 707px; height:30px;" >.</button><br>
    <button style="width: 150px; margin-top:5px">No.Surat</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Tgl.Surat</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Perihal</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Alamat Penerima</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Tembusan</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Tertanda</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Jabatan pengirim</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Tanda tangan</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">NIP/NIDN</button> 
        <button style="width: 707px; height:30px;">.</button><br>
</form>
<button style="width: 150px; margin-top:5px">Buat Surat</button> 