<forn>
    <button style="width: 150px; margin-top:10px;">Program Study</button>  
        <input style="width: 707px; height:30px;"> <br>
    <button style="width: 150px; margin-top:5px" >Fakultas</button> 
        <button style="width: 707px; height:30px;">.</button> <br> 
    <button style="width: 150px; margin-top:5px">Kontak</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">No.Surat</button> 
        <button style="width: 707px; height:30px;" >.</button><br>
    <button style="width: 150px; margin-top:5px">Lampiran</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Hal</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Kepada</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Tempat</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Isi</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Hari</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Waktu</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Tempat</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Penutup</button> 
        <button style="width: 707px; height:30px;">.</button><br>
        <button style="width: 150px; margin-top:5px">Lokasi</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Date</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Ketua Program</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">TTD</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">Nama Pimpinan</button> 
        <button style="width: 707px; height:30px;">.</button><br>
    <button style="width: 150px; margin-top:5px">NIDN</button> 
        <button style="width: 707px; height:30px;">.</button><br>        
</form>
<button style="width: 150px; margin-top:5px">Buat Surat</button> 