<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DS-Corespondent</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='styleee.css')}}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="{{url_for('index')}}">DS Correspondence</a></h1>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>DC Correspondence</h1><br>
          <!-- <h2>Solusi Praktis Surat Menyurat Lebih Cepat Dan Mudah</h2> -->
          <h5>DS Correspondence, aplikasi manajemen persuratan berbasis web, menyederhanakan administrasi dengan pencarian documen, pengelompokkan, dan pengurangan penggunaan kertas. Audit trail kuat, kolaborasi yang di tingkatkan, danintegrasi sistem menjadikannya solusi efisien untuk berbagi sektor.</h5>
          <div><a href="{{url_for('login')}}" class="btn-get-started scrollto">LOGIN</a></div>
          <P>Belum punya akun? <a href="{{url_for('daftar')}}">Daftar</a></P>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="{{ url_for('static', filename='img/gambar2-removebg-preview.png')}}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- Vendor JS Files -->
<script src="{{url_for('static', filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>